body {counter-reset:section;}
h2:before {
    counter-increment:section;
    content:"Section " counter(section) ". ";
    font-weight:bold;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
figure figcaption {
    text-align: center;
}

